* {
    font-family: 'Montserrat', sans-serif;
}

.welcome-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

h1 {
    font-size: 3.5em;
}

.table-contents-button a {
    color: black;
    transition: 0.15s;
}

.table-contents-button a:hover {
    opacity: 0.5;
    text-decoration: underline;
}

.name {
    font-weight: 700;
}

.container {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.25em;
}