* {
    font-family: 'Montserrat', sans-serif;
}

.table-of-contents-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.title {
    font-weight: bold;
    font-size: 2.5em;
}

.table-of-contents-container a {
    text-decoration: none;
    color: black;
    transition: 0.25s;
}

.table-of-contents-container a:hover {
    opacity: 0.5;
    text-decoration: underline;
}

li {
    font-size: 1.25em;
    margin-top: 20px;
    margin-bottom: 20px;
}